/**** Reset ****/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
}

/**** Style général de la page ****/

body {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ebb70f;
    font-family: sans-serif;
}

header, footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

header h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
}

.main__content {
    max-width: 1240px;
    margin: 0 auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.game__container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 15px;
}

.card {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 1);
    background-color: #ffffff;
    cursor: pointer;
    transition: transform 0.4s ease-out;
}

.card:hover {
    transform: scale(1.03);
}

.card img {
    padding: 16px;
    width: 100%;
    opacity: 0;
}

.selected {
    outline: 3px solid #0fbcf9;
    outline-offset: -3px;
    border-radius: 8px;
}

.selected img {
    opacity: 1;
}

.matched {
    outline: 3px solid #3bff34;
}

.play__again__btn {
    display: block;
    margin-top: 40px;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px;
    width: 100%;
    cursor: pointer;
    background-color: transparent;
    perspective: 2000px; /* La propriété perspective détermine la distance entre le plan d'équation z = 0 et la position de l'utilisateur afin de donner une perspective aux objets positionnés dans l'espace 3D. */
}

.play__again__btn span {
    position: relative;
    display: block;
    padding: 15px;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    background-color: #ffffff;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 1);
    transform-style: preserve-3d; /* Indique que les fils de l'élément ciblé doivent être positionnés dans l'espace tridimensionnel. */
    transform-origin: top;
    border-radius: 12px;
    transition: transform 0.4s ease-out;
}

.play__again__btn span::after {
    content: "REJOUER";
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform-origin: top;
    background-color: #fde596; 
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 1);
    border-radius: 12px;
    transform: rotateX(-90deg);
}

.play__again__btn:hover span {
   transform: rotateX(90deg) translateY(-50%);
}

footer span {
    text-align: center;
    font-size: 18px;
    font-weight: 600;
}

/**** Responsive design ****/

@media screen and (max-width: 1000px) {
    .game__container{
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 500px){
    .game__container{
        grid-template-columns: repeat(3, 1fr);
    }
}